/* {
    box-sizing: border-box;
  }
  
  .front-body {
    background-color: rgb(235, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .front-button {
    cursor: pointer;
  }
  
  .front-button:active {
    transform: scale(0.95);
  }
  
  .front-input:focus,
  .front-button:focus {
    outline: none;
  }
  
  .front-bg{
    background-image: url("E:\Login React\public\bg.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: rgb(240, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    
  }
  head:after {
    content: "";
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .front-header * {
    z-index: 1;
  }
  
  .front-header h1 {
    margin: 0 0 30px;
    margin-top: 20px;
  }
  
  .front-form {
    position:relative;
    margin: auto;
    width: 500px;
    max-width: 100%;
  }
  
  .front-form .front-input {
    border: 0;
    margin: auto;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%;
  }
  
  form button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(22, 18, 18);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    padding: 13px 30px;
  }
  
  .btn {
    background-color: #554c4c;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
  }
  
  ul.songs {
    list-style-type: none;
    padding: 0;
  }
  
  ul.songs li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .container {
    margin: 30px auto;
    max-width: 100%;
    width: 500px;
  }
  
  .container h2 {
    font-weight: 300;
  }
  
  .container p {
    text-align: center;
  }
  
  .centered {
    display: flex;
    justify-content: center;
  }
  
  .centered button {
    transform: scale(1.3);
    margin: 15px;
  }*/