@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.welcome-main {
	font-family: Consolas, sans-serif;
	background: #834747;
	background: linear-gradient(110deg, #a4a4a4 50%, #5cd4a0 50%);
	height: 100vh;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
}
.welcome-main .welcome-nav-item {
	height: 10vh;
	display: flex;
	font-size: 1.3rem;
}
.welcome-main .welcome-nav-item .welcome-navbar-brand {
	font-family: "Pacifico", cursive;
	color: #040101;
	font-size: 3rem;
}
.welcome-main .welcome-main-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
}
.welcome-main .welcome-main-row .welcome-main-row-img {
	flex-basis: 50%;
	flex-grow: 1;
}
.welcome-main .welcome-main-row .welcome-main-row-img .welcome-head-phone-img {
	width: 60%;
}
.welcome-main .welcome-main-row .welcome-main-row-text {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	flex-grow: 1;
}
.welcome-main .welcome-main-row .welcome-main-row-text h1 {
	font-family: "Bungee", cursive;
	font-size: 3rem;
}
.welcome-main .welcome-main-row .welcome-main-row-text p {
	color: #fbf8f8;
	font-size: 1.2rem;
}
.welcome-main .welcome-main-row .welcome-main-row-text .btn {
	font-family: Consolas, sans-serif;
	letter-spacing: 2px;
	border: none;
	background-color: #282c34;
	color: #fff;
	font-size: 1.1rem;
	text-transform: uppercase;
	margin: 10px 0;
	padding: 15px 20px;
	border-radius: 5px;
}
.welcome-main .welcome-main-row .welcome-main-row-text .btn:hover {
	opacity: 0.9;
	cursor: pointer;
}
